/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 1.5rem;
}

.centered {
  /*display: flex;
  flex-direction: column;*/
  justify-content: center;
  text-align: center;
}

.container {
  background-color: lightyellow;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */

/* Navigation Menu */
header {
  margin-top: 1.5rem;
}

header a {
  text-decoration: none;
  margin-right: 40px;
}

.current-page {
  border-bottom: 1px solid #3a3a3a;
}

#navbar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Main content */

/* Start Screen */

#list-rules > li {
  margin-bottom: 20px;
  text-align: left;
  margin-left: 42%;
}

.enter-game-button,
.username-input {
  padding: 20px;
  margin-right: 10px;
  font-size: 1.2rem;
}

/* Play Game */

/*.start-button {
    font-size: 2rem;
    padding: 2rem;
    margin: 1rem auto;
    width: 60%;
    background-color: lightgreen;
  }*/

/* Scoreboard styles */
#scoreboard {
  border: 1px solid;
  padding: 20px;
  margin: 1.2rem;
}

#scores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#scoreboard-user {
  border: 1px solid;
  padding: 10px;
  margin: 10px;
  background-color: aquamarine;
  width: 160px;
}

#scoreboard-computer {
  border: 1px solid;
  margin: 10px;
  padding: 10px;
  background-color: lightpink;
  width: 160px;
}

/* Game  buttons styles */
.choice-button {
  padding-bottom: 100px;
  padding-top: 5px;
  margin: 0.5rem;
  font-size: 1.5rem;
  border-radius: 5%;
  white-space: nowrap;
  width: 195px;
  height: 100px;
}

.choice-button:hover {
  background-color: white;
  /* perspective for getting rid of blurry effect */
  transform: scale(1.1) perspective(1px);
  transition: 0.25s;
}

.choice-button:active {
  transform: scale(1.2);
  background-color: rgb(228, 247, 229);
}

#rock {
  background: url(../images/rockos-besseros.png) no-repeat bottom / contain
    white;
}

#paper {
  background: url(../images/papiros-oldos.png) no-repeat bottom / contain white;
}

#scissors {
  background: url(../images/si-scissores-mirrored.png) no-repeat center / contain white;
}

#lizard {
  background: url(../images/lizardino-vamonos.png) no-repeat center / contain
    white;
}

#spock {
  background: url(../images/spockos-gutos-mirrored.png) no-repeat center / contain white;
}

input[type="submit"]:hover {
  background-color: whitesmoke;
  font-size: 2rem;
}

input[type="submit"]:active {
  background-color: whitesmoke;
  font-size: 2.1rem;
}

.outcome {
  border: 1px solid;
  padding: 2rem;
  margin: 1.2rem;
  border-radius: 2%;
  background-color: lightgreen;
  font-weight: 400;
  font-size: 1.5rem;
}

/* Footer styles */
footer {
  background-color: lightsteelblue;
  padding: 1%;
}

/* End Screen */
.return-button {
  width: 30%;
  padding: 2rem;
  margin: 0.5rem auto;
  font-size: 1.5rem;
}
