* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Header */

/* Navigation Menu */
header a {
  text-decoration: none;
  margin-right: 40px;
}

.current-page {
  border-bottom: 1px solid #3a3a3a;
}

#navbar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* General styles */

.centered {
    /*display: flex;
    flex-direction: column;*/
    justify-content: center;
    text-align: center;
}

/* Start Screen */

#list-rules>li {
  margin-bottom: 20px;
  text-align: left;
  margin-left: 42%;
}

.play-button {
  width: 30%;
  padding: 2rem;
  margin: 0.5rem auto;
  font-size: 1.5rem;
}

.play-button a {
  text-decoration: none;
}

.enter-game-buttons {
  padding: 20px;
  margin-right: 10px;
  font-size: 1.2rem;
}

/* Play Game */

.start-button {
    font-size: 2rem;
    padding: 2rem;
    margin: 1rem auto;
    width: 60%;
    background-color: lightgreen;
  }

  /* unused class: container */

.choice-button {
  padding: 2rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  border-radius: 5%;
}

.choice-button:hover {
  background-color: whitesmoke;
  font-size: 2rem;
}

.choice-button:active {
  font-size: 2.1rem;
  background-color: whitesmoke;
}

input[type=submit]:hover {
  background-color: whitesmoke;
  font-size: 2rem;
}

input[type=submit]:active {
  background-color: whitesmoke;
  font-size: 2.1rem;
}

#game-area {
  background-color: lightyellow;
  }

/* End Screen */
.return-button {
  width: 30%;
  padding: 2rem;
  margin: 0.5rem auto;
  font-size: 1.5rem;
}

